{%extends 'base.html'%}
{%load static %}
{% block title %}Comapny-Login{% endblock %}
{% block othermeta %}

<title>Company Login</title>

<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{%static 'campus/comhome.css'%}">
{% endblock %}

{% block content%}

<div class="page">
    <div class="row">
        <div class="col-sm-8 text-center signin">
            <table>
				<a href="http://127.0.0.1:8000/company/company_login/jp/"  class="btn btn-info btn-block LoginBtn">Post Vacancy</a>
                <a href="http://127.0.0.1:8000/company/company_login/jd/"  class="btn btn-info btn-block LoginBtn">Update Vacancy</a>
				<a href="http://127.0.0.1:8000/company/company_login/selectstu/"  class="btn btn-info btn-block LoginBtn">Select Students</a>
                <a href="http://127.0.0.1:8000/company/company_login/ccd/"  class="btn btn-info btn-block LoginBtn">Update Details</a>
				<a href="http://127.0.0.1:8000/company/company_login/deletevacan/"  class="btn btn-info btn-block LoginBtn">Delete Vacancy</a>
				<a href="http://127.0.0.1:8000/company/company_login/viewpos/"  class="btn btn-info btn-block LoginBtn">Posted Vacancies</a>
            </table>
        </div>
        <!--Column for signin-->
        <div class="col-sm-4 signup text-center">
        </div>
    </div>
</div>



{% endblock %}

{% comment %} <table class="pos2">
    <tr>
        <td  ><a href=" http://127.0.0.1:8000/company/company_login/jp/  " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem"><i>post vacancy</i></b></a></td></tr><tr>
    <td ><a href="http://127.0.0.1:8000/company/company_login/jd/  " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>update vacancy</i></b></a></td></tr><tr>
<td ><a href=" http://127.0.0.1:8000/company/company_login/selectstu/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>select students</i></b></a></td>
  <tr>  <td ><a href=" http://127.0.0.1:8000/company/company_login/ccd/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>update details</i></b></a></td>

    </tr>
    <tr>  <td ><a href=" http://127.0.0.1:8000/company/company_login/deletevacan/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>delete vacancy</i></b></a></td>

    </tr>
    <tr>  <td ><a href=" http://127.0.0.1:8000/company/company_login/viewpos/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>posted vacancies</i></b></a></td>

    </tr>
</table> {% endcomment %}