{%extends 'base.html' %}

{%block content%}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">




<form method="post">
    {% csrf_token %}
    <h1>PROFILE</h1>
    <p>reg num:<b>{{ form.username }}</b></p>
    <p>name :<b>{{ form.first_name}} {{form.last_name}}</b></p>
    <p>father's name:<b>{{ form.fathers_name}}</b></p>
    <p>mother's name:<b>{{ form.mothers_name}}</b></p>
    <p>gender:<b>{{ form.gender}}</b></p>
    <p>place:<b>{{ form.place}}</b></p>
    <p>branch:<b>{{ form.branch}}</b></p>
    <p>Btech(cgpa):<b>{{ form.cgpa_Btech}}</b></p>
    <p>10 class(cgpa):<b>{{ form.class_10_cgpa}}</b></p>
    <p>12 class(cgpa):<b>{{ form.class_12_percentage}}</b></p>
    <p>certifications count:<b>{{ form.certifications_count}}</b></p>
    <p>internship:<b>{{ form.internship}}</b></p>
    <p>languages:<b>{{ form.languages}}</b></p>
    <p>sop:<b>{{ form.sop}}</b></p>
    <p>dob:<b>{{ form.dob}}</b></p>


</form>

{%endblock%}