{%extends 'base.html'%}
{%load static %}
{% block title %}Company-Login{% endblock %}
{% block othermeta %}

<title>Job Delete</title>

<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{%static 'campus/jobdelete.css'%}">
{% endblock %}

{% block content%}

<div class="page">
    <div class="row">
        <div class="col-sm-8 text-center signin">
            <form method="post">
            {% csrf_token %}

                <div class="aligned">
                <img src="{% static '/campus/images/vacancy.jpg' %}" width="100" alt="">
                <span><p class="h4 signintext top"><strong>DELETE VACANCY</strong></p></span>
                </div>

                <table class="table table1"> 
				<tr class="h4 mb-4 text-center signintext top"> 
                    <th><label for="id_job_id" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Job id:</h6></label><th> 
                    <td><input type="text" name="jobid" size="10"></td>
                </tr>
                </table>
                <button class="btn btn-info btn-block LoginBtn" type="submit" value="delete">DELETE</button>
    {% comment %} <input type="submit" value="delete"> {% endcomment %}
            </form>
        </div>        
    </div>
</div>

{% endblock %}
