{%extends 'base.html'%}
{%load static %}
{% block title %}Company-Login{% endblock %}
{% block othermeta %}

<title>Post Vacany</title>

<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{%static 'campus/jobpos.css'%}">
{% endblock %}

{% block content%}

<div class="page">
    <div class="row">
        <div class="col-sm-8 text-center signin">
            <form method="post">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}


       {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

          {% csrf_token %}
                
              <div class="aligned">
              <img src="{% static '/campus/images/vacancy.jpg' %}" width="100" alt="">
              <span><p class="h4 signintext top"><strong>POST VACANCY</strong></p></span>
              </div>
              
              <table class="table table1">
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_job_id" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Job id:</h6></label></th>
                <td><input type="text" name="job_id" maxlength="30" required id="id_job_id"><h6 class="mb-0 text-sm top1">*required</h6></td>
              </tr><br>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_designation" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Designation:</h6></label></th>
                <td><input type="text" name="designation" maxlength="30" required id="id_designation"><h6 class="mb-0 text-sm top1">*required</h6></td>
              </tr><br>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_salary" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Salary:</h6></label></th>
                <td><input type="number" name="salary" required id="id_salary"><h6 class="mb-0 text-sm top1">*required</h6></td>
              </tr><br>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_bond_years" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Bond years:</h6></label></th>
                <td><input type="number" name="bond_years" required id="id_bond_years"><h6 class="mb-0 text-sm top1">*required</h6></td>
              </tr><br>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_information_technology" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Information technology:</h6></label></th>
                <td>
                <select name="information_technology" required id="id_information_technology">
                <option value="" selected></option>
                <option value="yes">yes</option>
                <option value="no">no</option>
                </select>
                </td>
              </tr>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_mech" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Mech:</h6></label></th>
                <td>
                <select name="mech" required id="id_mech">
                <option value="" selected></option>
                <option value="yes">yes</option>
                <option value="no">no</option>
                </select>
                </td>
              </tr>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_civil" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Civil:</h6></label></th>
                <td>
                <select name="civil" required id="id_civil">
                <option value="" selected></option>
                <option value="yes">yes</option>
                <option value="no">no</option>
                </select>
                </td>
              </tr>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_eee" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Eee:</h6></label></th>
                <td><select name="eee" required id="id_eee">
                <option value="" selected></option>
                <option value="yes">yes</option>
                <option value="no">no</option>
                </select></td>
              </tr>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_ece" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Ece:</h6></label></th>
                <td>
                <select name="ece" required id="id_ece">
                <option value="" selected></option>
                <option value="yes">yes</option>
                <option value="no">no</option>
                </select>
                </td>
              </tr>
              <tr class="h4 mb-4 text-center signintext top"> 
                <th><label for="id_chemical" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Chemical:</h6></label></th>
                <td>
                <select name="chemical" required id="id_chemical">
                <option value="" selected></option>
                <option value="yes">yes</option>
                <option value="no">no</option>
                </select>
                </td>
              </tr>
              <tr class="h4 mb-4 text-center signintext top">
                <th><label for="id_cse" class="mb-1 labeledit"><h6 class="mb-0 text-sm fontchanger">Cse:</h6></label></th>
                <td>
                <select name="cse" required id="id_cse">
                <option value="" selected></option>
                <option value="yes">yes</option>
                <option value="no">no</option>
                </select>
                </td>
              </tr><br>
              </table>
              <button class="btn btn-info btn-block LoginBtn" type="submit" >Submit</button>
              <table>
              <tr class="h4 mb-4 text-center signintext top">
                <th></th>
                <td><input type="hidden" name="company_name"  size="36" maxlength="30" required id="id_company_name" value={{ y }}  ></td>
              </tr>
              <tr class="h4 mb-4 text-center signintext top">
                <th></th>
                <td><input type="hidden" name="username" maxlength="30" required id="id_username" value={{ x }} > </td>
              </tr>
              </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}
