{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{%load static %}


<head>
    {%block head%}
    <meta charset="UTF-8">
    <title>STUDENT OPTIONS</title>
    <link rel="stylesheet" href="{% static 'campus/theme.css' %}" type="text/css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRS :: Admin Panel{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="{% static 'campus/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body{
    color:mediumseagreen;
}
.topnav {
  overflow: hidden;
  background-color: black;
}

.pos2{
    position: absolute;
    top:16rem;
    left: 37rem;
}


.active
{background-color: black;
   padding-left: 5rem;
    padding-right: 5rem;
    color: #aba8a8;

}

.d{
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 1.5rem;
    color: #aba8a8;
}
</style>
{%endblock%}
</head>

<body>
{%block content%}
  <div class="container " style="display:flex;justify-content:center">
    <img src="{% static '/campus/images/student_loggedin.png'%}" class="img-fluid" style= "width:60%;" alt="Responsive image">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
  </div>
  
    
  </div>
<table class="pos2">
    <tr>
        <td  ><a href="/student/student_login/dispstu" class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem"><i>view profile</i></b></a></td></tr><tr>
    <td ><a href="http://127.0.0.1:8000/student/student_login/usd/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>update details</i></b></a></td></tr><tr>
<td ><a href=" http://127.0.0.1:8000/student/student_login/applyjob " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>apply for company</i></b></a></td>
    </tr>
</table>
{%endblock%}
</body>

</html>