{%extends 'base.html'%}
{%load static %}


{% block content%}

<table class="pos2">
    <tr>
        <td  ><a href="http://127.0.0.1:8000/student/student_login/dispstu/ " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem"><i>view profile</i></b></a></td></tr><tr>
    <td ><a href="http://127.0.0.1:8000/student/student_login/usd/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>update details</i></b></a></td></tr><tr>
<td ><a href=" http://127.0.0.1:8000/student/student_login/applyjob " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem"><i>apply for company</i></b></a></td>
    </tr>
</table>
{%endblock%}
