{%extends 'base.html'%}
{%load static %}
{% block title %}Company-Login{% endblock %}
{% block othermeta %}

<title>Posted Vacancies</title>

<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{%static 'campus/viewpos.css'%}">
{% endblock %}

{% block content%}

{% comment %} <center><h1 style="font-size:3rem;color: #bd2130">POSTED VACANCIES</h1></center> {% endcomment %}

<div class="form-block">
        <div class="form-ul-block">
            <form method="post">
            {% csrf_token %}

                <div class="aligned">
                <img src="{% static '/campus/images/vacancy.jpg' %}" width="100" alt="">
                <span><p class="h4 signintext top top1"><strong>POSTED VACANCIES</strong></p></span>
                </div>

                <table class="table table1"> 
				<tr class="form-ul"> 
                    <th><label><h5>Job id</h5></label><th> 
                    <th><label><h5>Designation</h5></label><th> 
                    <th><label><h5>Salary</h5></label><th> 
                    <th><label><h5>Bond years</h5></label><th> 
                    <th><label><h5>IT</h5></label><th> 
                    <th><label><h5>MECH</h5></label><th> 
                    <th><label><h5>CIVIL</h5></label><th> 
                    <th><label><h5>ECE</h5></label><th> 
                    <th><label><h5>EEE</h5></label><th> 
                    <th><label><h5>CSE</h5></label><th> 
                    <th><label><h5>CHEMICAL</h5></label><th> 
                </tr>
                {%  for i in y %}
                <tr class="form-ul">
                    <th><label ><h6 >{{ i.job_id }}</h6></label><th>
                    <th><label ><h6 >{{ i.designation }}</h6></label><th> 
                    <th><label ><h6 >{{ i.salary }}</h6></label><th> 
                    <th><label ><h6 >{{ i.bond_years }}</h6></label><th> 
                    <th><label ><h6 >{{ i.information_technology }}</h6></label><th> 
                    <th><label ><h6 >{{ i.mech }}</h6></label><th> 
                    <th><label ><h6 >{{ i.civil }}</h6></label><th> 
                    <th><label ><h6 >{{ i.ece }}</h6></label><th> 
                    <th><label ><h6 >{{ i.eee }}</h6></label><th> 
                    <th><label ><h6 >{{ i.cse }}</h6></label><th> 
                    <th><label ><h6 >{{ i.chemical }}</h6></label><th> 
                </tr>
                {% endfor %}
                </table>
    {% comment %} <input type="submit" value="delete"> {% endcomment %}
            </form>
        </div>        
</div>
{% endblock %}